<h1>About Us</h1>
<p>
  <a href="http://smartPay.com/">Smart Payment Application</a>
  is a web application for people to make payment use their mobile device while they shopping and ordering <a href="http://smartPay.com/">SmartPay App</a>. This
  is the smart payment application.
</p>
