<!DOCTYPE html>
<html>
  <head>
    <title>Smart Payment Application | <%= @title %></title>
  </head>
  <body>
    <h1>Contact</h1>
    <p>
      Contact of the smart payment website about the smartPay application at the
      <a href="http://smartPay.com">feedback page</a>.
    </p>
  </body>
</html>
