<h1>Help</h1>
<p>
  Get help on Smart Payment Application at the
  <a href="http://smartPay.com/help">Smart Payment Application help page</a>.
  To get help on this smart payment app, see the
  <a href="http://smartPay.com/book">Smart Payment Tutorial book</a>.
</p>
