<!DOCTYPE html>
<html>
  <head>
    <title>Smart Payment Application | <%= @title %></title>
  </head>
  <body>
    <h1>SmartPay App</h1>
    <p>
      This is the home page for the
      <a href="http://smartPay.com/">Smart Payment</a>
      smart payment application.
    </p>
  </body>
</html>
