<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.smartPay.com/">News</a></li>
      <li><a href="http://www.smartPay.com/">Smart Payment</a></li>
    </ul>
  </nav>
</footer>
